@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    
}

body{
    background-color: #cad2ff;
}

h1{
    color:#3d52a0;
    letter-spacing: 2px;
    font-size: 3rem;
}

h3,a{
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;
    color:#7091e6;
}

h5,h4{
    font-style: italic;
    font-weight: 500;
}
h5{
    text-decoration: underline;
}

p, li{
    letter-spacing: 1px;
    font-style: italic;
    color:#27293b;
    font-size:14px;
    margin-bottom: 5px;
}
.bullet-margin-top-spacing{
    margin-top: 5px;
}
